body{
    background-color: black;
    font-family: inter ui,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
}

.main{
    text-align: center;
    color: white;
    margin:  15% auto;

    
}

i{
    color: white;
    padding: 1%;
}

h1{
    font-size: 2.6rem;
}

footer{
    color: white;
    text-align: center;
}